@use "../../styles/variable.scss" as *;

.navbar {
    height : 70px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    &__logo{
        font-size: 22px;
        font-weight: bold;
        color: $primary-color;

        img{
            width: 30px;
            height: 30px;
        }
    }

    &__links{
        display: flex;
        gap: 30px;

        a{
            text-decoration: none;
            color: $text-color;
            font-size: 16px;

            &:hover{
                color: $primary-color;
            }
        }
        button{
            padding: 8px 18px;
            background-color: $primary-color;
            color: $white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 15px;

            &:hover{
                color:$primary-color;
                background-color: $white;
                border: solid 1px $primary-color;

            }
        }
    }
}