.cart {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 20px;

        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #fff;
    }

    &-image {
        width: 100px;
        height: 100px;

        object-fit: contain;

        border-radius: 8px;
        flex-shrink: 0;
    }

    &-details {
        flex: 1;
    }

    &-product-name {
        margin: 0 0 8px;
        font-size: 20px;
    }

    &-description {
        margin: 5px 0;
        color: #666;
    }

    &-category,
    &-price,
    &-total {
        margin: 5px 0;
    }

    &-quantity {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;

        button {
            width: 30px;
            height: 30px;
            border: 1px solid #0c0c0c;
            border-radius: 5px;
            // background: #fef8f8;
            align-items: center;
            cursor: pointer;
        }

        span {
            min-width: 25px;
            text-align: center;
            font-weight: 600;
        }
    }

    &-order-btn , &-remove-btn {
        padding: 8px 18px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background: #222;
        color: white;
    }

&-remove-btn {
    background: #f1f1f1;
    color: #333;
}
}